.heart-rain {
  position: absolute;
  inset: 0;

  overflow: hidden;

  pointer-events: none;
}

.heart {
  position: absolute;

  top: -40px;

  font-size: 20px;

  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  opacity: 0.8;
}

@keyframes fall {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(110vh);
  }
}