.tile {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}

.wall {
  background: linear-gradient(
    180deg,
    #313742,
    #242b35
  );

  border-radius: 6px;

  box-shadow:
    inset 0 0 8px rgba(255, 255, 255, 0.03),
    0 0 10px rgba(70, 90, 120, 0.2);
}

.floor {
  background: #161b22;

  border: 1px solid rgba(255, 255, 255, 0.03);
}