* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    #241335,
    #171024
  );

  min-height: 100vh;

  font-family: "Poppins", sans-serif;

  color: white;
}